body {
  padding: 10px;
  background-color: #333;
  color: #ccc;
  font-size: 2rem;
}

.App {
  a {
    text-decoration: none;
    color: yellow;
    &:hover {
      text-decoration: underline;
    }
  }
  form {
    .row {
      padding: 10px;
      display: flex;
      gap: 10px;
      button {
        padding: 10px;
      }
    }
  }
}
